<% layout('layout') -%> 


<div class="container main login" style="width: 100%; height:auto">
    
  
      <h1><%=  req.__('text.login.login') %> </h1>
  
     <!-- Social Login -->

      <% if (socialLoginVisible == true) { %>
            <p class="help-text register-bottom">
                <%=  req.__('text.login.login_with_social') %>
            </p>       
                      
           <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1818188">
            <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>
            
              <div class="carousel-inner clearfix">
                  <div class="item active social-login">
                    <img value="facebook" class="img-responsive" src="<%= req.query.basepath%>/ui/images/facebook-circle.png"></a>
                    <img value="twitter" class="img-responsive" src="<%= req.query.basepath%>/ui/images/twitter-circle.png"></a>
                    <img value="googleplus" class="img-responsive" src="<%= req.query.basepath%>/ui/images/google+-circle.png"></a>
                    <img value="linkedin" class="img-responsive" src="<%= req.query.basepath%>/ui/images/linkedin-circle.png"></a>
                  </div>
                  <div class="item social-login">
                    <img value="yahoo" class="img-responsive" src="<%= req.query.basepath%>/ui/images/yahoo.png"></a>
                     <img value="messenger" class="img-responsive" src="<%= req.query.basepath%>/ui/images/msn.png"></a>
                    
                  </div>
              </div>

           </div>

      <% } %>

      

   <!-- SMS Login -->

   <% if (smsLoginVisible == true) { %>
         
        <div class="divider clearfix">
            <span class="arrow"></span>
            <span class="content">รณ</span>
            <span class="arrow"></span>
        </div>
        <p class="help-text register-bottom">
            <%=  req.__('text.register.if_prefer_phone') %>
        </p>       

         <form role="form" action="<%=req.query.basepath%>/msisdnsubmit?sessionid=<%= sessionid%>" method="post">
                  <div class="input-group-container">
                  
                  <div style="display: <%= showInvalidMsisdnMessage%>;"><font color="red">Invalid phone number</font></div>
                    <input class="form-control" placeholder="+4973517390347" name="msisdn" type="text">
                    <span class="help-block">By clicking on ''Submit'', a text message with a PIN code will be sent to your mobile. Standard message and data rates may apply.</span>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            
              
          </form>

    <% } %>


<!-- Email Login -->

    <% if (emailLoginVisible == true) { %>

        <div class="divider clearfix">
            <span class="arrow"></span>
            <span class="content">รณ</span>
            <span class="arrow"></span>
        </div>
        <p class="help-text register-bottom">
            <%=  req.__('text.register.if_prefer_email') %>
        </p>       
        <div id="error-container" class="clearfix" style="display: <%= showInvalidLoginMessage%>;">
            <img class="img-responsive close-img" src="<%= req.query.basepath%>/ui/images/error-info.png">
            <p><%=  req.__('text.login.invalid_username_or_password') %></p>
        </div>
          
        <form role="form" action="<%=req.query.basepath%>/login?sessionid=<%= sessionid%>" method="post">
            <div class="input-group-container">
                 <div class="input-group input-group-lg">
                      <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-envelope"></span></span>
                      <input type="text" id="txtName" name="username" class="form-control" value="<%= email_to_prefill%>" placeholder="<%=  req.__('text.placeholder.eg_email') %>"/>
                </div> 
                 <div class="inline-error">
                    <p><%= req.__('text.error.email_field_empty')%></p>
                </div>                
                    
            </div>
            <div class="input-group-container">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-lock"></span></span>
                    <input type="password" id="txtPassword" name="password" class="form-control" placeholder="<%=  req.__('text.placeholder.password') %>"/>
                </div>   
                 <div class="inline-error">
                    <p><%= req.__('text.error.password_field_empty')%></p>
                </div>                
             </div> 
                <a href="<%=req.query.basepath%>/recovery?sessionid=<%= sessionid%>"> <%=  req.__('text.login.forgot_password') %></a>
                <button type="Submit" id="btnLogin" class="btn btn-success btn-lg btn-block"><%=  req.__('text.login.login_with_grass') %></button>
         </form>

      <% } %>

        <div class="login-bottom">
            <p ><%=  req.__('text.layout.have_grass_id') %> <a href="<%=req.query.basepath%>/register?sessionid=<%= sessionid%>"><%=  req.__('text.layout.register') %></a></p></div>
        </div>

    </div>

</div>





















