<% layout('layout') -%> 

    <div class="container">
      <div class="row">
        <div class="login-page-wrapper col-xs-12 col-sm-6 col-sm-offset-3">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#normal-login" data-toggle="tab">Login</a>
            </li>
            <li><a href="#sms-login" data-toggle="tab">SMS Login</a>
            </li>
            <li><a href="#social-login" data-toggle="tab">Social Login</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="normal-login">
              <div class="grass-form-wrapper">
            	<div style="display: <%= showInvalidLoginMessage%>;"><font color="red">Invalid username or password</font></div>
                <form role="form" action="/openid/login?sessionid=<%= sessionid%>" method="post">
                  <div class="form-group">
                    <input name="username" class="form-control" placeholder="Your Username" type="text" value="">
                  </div>
                  <div class="form-group">
                    <input name="password" class="form-control" placeholder="Your Password" type="password">
                  </div>
                <div class="col-xs-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary grass-btn">Sign In</button>
                </div>
              </div>
                <div class="col-xs-6">
                <div class="form-group">
                    <button type="button" class="btn btn-error grass-btn" onclick="window.location='<%= redirectURL%>'">Cancel</button>
                </div>
              </div>
                </form>
                <div class="login-form-links">
                  <div class="register-link">
                    <a href="/openid/register?sessionid=<%= sessionid%>">Register now</a>
                  </div>
                  <div class="password-reset-link">
                    <a href="/openid/recovery?sessionid=<%= sessionid%>">Forgot your password?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="sms-login">
              <div class="grass-form-wrapper">
                <form role="form" action="/openid/msisdnsubmit?sessionid=<%= sessionid%>" method="post">
                  <div class="form-group">
                    <p>
                      <strong>Enter your mobile number in the box below</strong>
                    </p>
                      <div style="display: <%= showInvalidMsisdnMessage%>;"><font color="red">Invalid phone number</font></div>
                    <input class="form-control" placeholder="+4973517390347" name="msisdn" type="text">
                    <span class="help-block">By clicking on ''Submit'', a text message with a PIN code will be sent to your mobile. Standard message and data rates may apply.</span>
                  </div>
                <div class="col-xs-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary grass-btn">Submit</button>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                    <button type="button" class="btn btn-error grass-btn" onclick="window.location='<%= redirectURL%>'">Cancel</button>
                </div>
              </div>
                </form>
              </div>
            </div>
            <div class="tab-pane" id="social-login">
              <div class="social-login">Social Login</div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      <script>
         $(document).ready(function(){
        activaTab('<%= activeTab%>');
    });

    function activaTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
      
     </script>