<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <% if (display == "page" || display == "" || display == null) {%>
        <meta content="width=device-width, initial-scale=1" name="viewport">
            <% } %>
             <% if (display == "touch") {%>
              <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
            <% } %> 

  <link href="<%= req.query.basepath%>/ui/stylesheets/main.css" rel="stylesheet">
  <link href="<%= req.query.basepath%>/ui/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="<%= req.query.basepath%>/ui/js/bootstrap.min.js"></script>
  <script src="<%= req.query.basepath%>/js/app.js"></script>


</head>

<body>
       <% if (display != "popup") {%> <div id="overlay_shield"></div> <% } %>
        <div class="outer-container" <% if (display == "popup") {%> style="width: auto; min-width: 320px;" <% } %>>
            <header class="clearfix">
                <a class="navbar-brand" href="#"><img class="img-responsive logo-img" src="<%= req.query.basepath%>/ui/images/logo.png"></a>
                <div class="header-country">      
                    <!-- <a class="link-globe" href="#"><img class="img-responsive home-img" src="<%= req.query.basepath%>/ui/images/globe-icon.png"></a> -->
                          <form class "" action="<%= req.query.basepath%>/locale" method="post" >
                            <input type="hidden" class="next" name="next">
                            <select onchange="this.form.submit()" name="locale" class="bg-select select-locale">
                                        <option value="es">Espanol</option>
                                        <option value="en">English</option>
                            </select> 
                            </form>
                         <% if (redirectURL != null && redirectURL != "" && display != "popup" ) {%>            
                   <a href="<%= redirectURL%>"><img class="img-responsive close-img close-winodw" src="<%= req.query.basepath%>/ui/images/close-icon.png"></a>
                   <% } %>  
                </div>                    
            </header>
         

    <div class="user-info clearfix" style="display: <%=showUserInfoDiv?'visible':'none' %>">
               <% if(logged_in_user_email != null && logged_in_user_email != "") { %>  
               <% if(logged_in_user_image == null || logged_in_user_image == "") {
               logged_in_user_image = req.query.basepath+"/ui/images/icons/img_smart.jpg"
                }%>                           
       <div class="logged-in-container">
                    <img class="img-responsive img-circle" src="<%= logged_in_user_image%>">
                    <div class="details">
                        <p data-role="name"><%= logged_in_user_first_name%>  <%= logged_in_user_surname%></p>
                        <p data-role="email"><%= logged_in_user_email%></p>
                    </div>
                    <a href="<%= req.query.basepath%>/myapps?sessionid=<%= sessionid%>">
                    <img class="img-responsive img-circle" src="<%= req.query.basepath%>/ui/images/icons/aplicacion.png" alt="Consented Apps"/>
                    </a>
                    
                </div>
            
         <% } %>
              
            </div>

    <!-- Body -->
    <%- body %>

</div>

<div class="modal fade" id="grassModal" tabindex="-1" role="dialog" aria-labelledby="grassModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="grassModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default grass-btn" data-dismiss="modal">Cancel</button>
        <button id="confirm-revoke-consent" type="button" class="btn btn-default grass-btn">Confirm</button>
      </div>
    </div>
  </div>
</div>


<% if (display == "popup") {%>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script>
                    $(function() {
                        $(".close-window").click(function(){
                    window.opener.location.href="<%= redirectURL%>";
                   self.close();
                        });
                    });
                </script>
                               <% } %>  
                               
                </script>
                <script>
                $( document ).ready(function() {
                      $(".next").val(window.location.href);
           $('.select-locale').val('<%=  req.getLocale() %>');                      
          });
           </script>
      <script src="<%= req.query.basepath%>/ui/js/validations.js"></script>
  </body>

</html>