<% layout('layout') %>

  <div class="container main login" style="width: 100%; height:auto">
    
          <div class="panel-heading">
            <h3>My Profile</h3>
          </div>
          <div class="input-group-container">
            
            <table style="width: 100%; height:auto; margin: 0">
            <!-- <ul class="list-group row"> -->
            <tr>
              
                <td style=" width:25%; text-align:right;"><span class="label label-primary " style="text-align:right;">Username:</span></td></td>
                <td style=" width:75%; text-align:left;"><span class="width:75%" style="text-align: left; margin-left:5px;"><%= username %></span></td></td>
              
            </tr>
              <tr >
                <td style=" width:25%; text-align:right;"><span class="label label-primary" >First Name:</span> </td></td>
                <td style=" width:75%; text-align:left;"><span class="margin-left:5px;"><%= first_name%></span></td></td>
              </tr>
              <tr >
                <td style=" width:25%; text-align:right;"><span class="label label-primary width:25%" style="text-align: right;">Last Name:</span></td>
                <td style=" width:75%; text-align:left;"><span class="width:75%" style="text-align: left; margin-left:5px;"><%= surname %></span></td>
              </tr>
              <tr >
                <td style=" width:25%; text-align:right;"><span class="label label-primary width:25%" style="text-align: right;">Email:</span></td>
                <td style=" width:75%; text-align:left;"><span class="width:75%" style="text-align: left; margin-left:5px;"><%= email%></span></td>
              </tr>
              <tr >
                <td style=" width:25%; text-align:right;"><span class="label label-primary width:25%" style="text-align: right;">Phone No:</span></td>
                <td style=" width:75%; text-align:left;"><span class="width:75%" style="text-align: left; margin-left:5px;"><%= msisdn %></span></td>
              </tr>
              <tr >
                <td style=" width:25%; text-align:right;"><span class="label label-primary width:25%" style="text-align: right;">Address:</span></td>
                <td style=" width:75%; text-align:left;">

                <address>
                  <span><%= house %></span>
                  <br>
                  <span><%= street %></span>
                  <br>
                  <span><%= city%></span>
                  <br>
                  <span><%= state%></span>
                  <br>
                  <span><%= country %></span>
                  <br>
                </address></td>
              </tr>
            </table>
            <div class="edit-profile-button">
              <a href="<%=req.query.basepath%>/edit-profile?sessionid=<%=sessionid%>" class="btn btn-default grass-btn">Edit Profile</a>
            </div>
          </div>
  
  </div>