
    <div class="container main login" style="width: 100%; height:auto">
      
        <form role="form" action="/openid/profile/update?sessionid=<%= sessionid%>" method="post" >
            <div class="input-group-container">
              <table style="width: 100%; height:auto; margin: 0">

                <tr>
                  <td style=" width:25%; text-align:right;"> <label>Email:</label></td>
                  <td style=" width:75%; text-align:left; margin-left:5px;">
             
                    <input class="form-control" placeholder="" type="text" name="email"  value="<%= email%>" readonly>
                  </td>
                </tr>

                <tr>
                  <td style=" width:25%; text-align:right;"> <label>First Name:</label></td>
                  <td style=" width:75%; text-align:left; margin-left:5px;">
             
                    <input class="form-control" placeholder="" type="text" name="first_name"  value="<%= name%>">
                  </td>
                </tr>

                <tr>
                  <td style=" width:25%; text-align:right;"> <label>Last Name:</label></td>
                  <td style=" width:75%; text-align:left; margin-left:5px;">
             
                    <input class="form-control" placeholder="" type="text" name="surname"  value="<%= surname%>">
                  </td>
                </tr>
             
                <tr>
                  <td style=" width:25%; text-align:right;"> <label>Phone No:</label></td>
                  <td style=" width:75%; text-align:left; margin-left:5px;">
             
                    <input class="form-control" placeholder="" type="text" name="msisdn"  value="<%= msisdn%>" readonly>
                  </td>
                </tr>
              
                <tr>
                  <td style=" width:25%; text-align:right;"> <label>Address:</label></td>
                  <td style=" width:75%; text-align:left; margin-left:5px;">
                      <table>
                        <tr><td> 
                            <label>House:</label>
                            <input class="form-control" placeholder="" type="text" name="house"  value="<%= addr1%>">
                        </td></tr>
                        <tr><td> 
                            <label>Street</label>
                            <input class="form-control" placeholder="" type="text" name="street"  value="<%= addr2%>">
                        </td></tr>
                        <tr><td> 
                            <label>City:</label>
                            <input class="form-control" placeholder="" type="text" name="city"  value="<%= city%>" >
                        </td></tr>
                        <tr><td> 
                            <label>State:</label>
                            <input class="form-control" placeholder="" type="text" name="state"  value="<%= state%>">
                        </td></tr>
                        <tr><td> 
                            <label>Country</label>
                            <input class="form-control" placeholder="" type="text" name="country"   value="<%= country%>" >
                        </td></tr>
                      </table>
             
                    <input class="form-control" placeholder="" type="hidden" name="msisdn"  value="<%= msisdn%>" readonly>
                  </td>
                </tr>

              </table>
            </div>
            <div class="input-group-container">
                <button type="submit" class="btn btn-success btn-group-lg btn-block">Update Info</button>
                <button type="button" class="btn btn-success btn-group-lg btn-block" onclick="window.location='<%=req.query.basepath%>/index?sessionid=<%= sessionid%>'" >Cancel</button>

            </div>
        </form>
   
    </div>	




        