<% layout('layout') -%> 

     <form class="form-signin" action="/openid/redirect/<%= sessionid%>?userId=<%= userId%>"  method="POST" style="padding-top: 60px;">
       <h3>Access Authorization</h3>
        <p>  Application <b> <%= appName%></b> is requesting your permission to share following details .
        <br>
        
        <% var scopes= scope.split(" ") %>
         <% for(var i=0; i<scopes.length ; i++) { %>
         <%if (scopes[i] !="openid") {%>   
         
        <li> <%= scopes[i] %>
        </li>
         <%}%>
    <% } %>
        
        
		Please press <b>Allow</b> to authenticate else cancel.  <br></p>     
      <fieldset class="ui-grid-a">
				<div class="ui-block-a"><button class="btn btn-medium btn-primary" type="submit" data-theme="c">Allow</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" data-theme="b" onclick="window.location='<%= redirectURL%>'" >Cancel</button></div>
		    </fieldset>
     </form>
