<% layout('layout') -%> 
<div id="content" style=" padding-top: 25px;">
    <ul id="tabs" class="nav nav-tabs nav-custom" data-tabs="tabs">
        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
        <li><a href="#msisdnLogin" data-toggle="tab">SMS Login</a></li>
        <li><a href="#socialLogin" data-toggle="tab">Social Login</a></li>

    </ul>
    
    
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="login">
        <form class="form-signin" action="/openid/login?sessionid=<%= sessionid%>" method="post">
        <h3 class="form-signin-heading" style="margin-top: -20px;">Please sign in</h3>
        <input name="username" type="text" class="input-block-level" placeholder="Your username">
        <input name="password" type="password" class="input-block-level" placeholder="Your password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
         <fieldset class="ui-grid-a">
				<div class="ui-block-a"><button class="btn btn-medium btn-primary" type="submit">Sign in</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='<%= redirectURL%>'" >Cancel</button></div>
		    </fieldset><br>
			<hr width="100%">
		<button class="btn btn-medium btn-primary"  href="#register" data-toggle="tab" style=" padding-left: 12px;">Register</button>
		<button class="btn btn-medium btn-primary"  href="#ResetPassword" data-toggle="tab" style="float:right;">Forgot Password</button>

      <br>
      </form>
  	  </div>
  	  
  	  

      <div class="tab-pane" id="msisdnLogin">
      <form class="form-signin" action="/openid/msisdnsubmit?sessionid=<%= sessionid%>" method="post">
        <h5 class="form-signin-heading" style="margin-top: -16px;">Enter your mobile number in the box below </h5>
		  <input name="msisdn" type="text" class="input-block-level" placeholder="+4973517390347" >
 		By clicking on ''Submit'', a text message with a PIN code will be sent to your mobile. Standard message and data rates may apply. <br>
 		  <fieldset class="ui-grid-a">
           <div class="ui-block-a"><button class="btn btn-medium btn-primary" type="submit">Submit</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='<%= redirectURL%>'" >Cancel</button></div>
		    </fieldset>
      </form>
  	  </div>
  	  
  	  
  	  <div class="tab-pane" id="socialLogin">
<div id="componentDiv" style="margin:0 auto;"></div>
  	  </div>  
  	  
  	  
  	  
  	  

	   <div class="tab-pane" id="register">
     <form name="input" class="form-signin" action="/openid/create?sessionid=<%= sessionid%>"  onsubmit="" method="post" >
        <h2 class="form-signin-heading">Register</h2>
        <input name="name" type="text" class="input-block-level" placeholder="First Name">
        <input name="lastName" type="text" class="input-block-level"  placeholder="Last Name">
        <input name="username" type="text" class="input-block-level" placeholder="Username/Email id">
        <input name="msisdn" type="text" class="input-block-level" placeholder="Mobile No">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <input name="confirmPass" type="password" class="input-block-level" placeholder="Re enter password">
 		  <fieldset class="ui-grid-a">
				<div class="ui-block-a"> <button class="btn btn-medium btn-primary" type="submit" onclick="return validateForm();return false;">Submit</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='<%= redirectURL%>'" >Cancel</button></div>
		    </fieldset>
      </form>
  	  </div>

	   <div class="tab-pane" id="ResetPassword">
     <form name="reset" class="form-signin" action="/openid/reset?sessionid=<%= sessionid%>"  onsubmit="" method="post" >
        <h2 class="form-signin-heading">Reset Password</h2>
        <input name="username" type="text" class="input-block-level" placeholder="Username/Email id">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <input name="confirmPass" type="password" class="input-block-level" placeholder="Re enter password">

 		  <fieldset class="ui-grid-a">
				<div class="ui-block-a"> <button class="btn btn-medium btn-primary" type="submit" onclick="return validateResetForm();return false;">Submit</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='<%= redirectURL%>'" >Cancel</button></div>
		    </fieldset>
      </form>
  	  </div>


    </div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
    
      function validateResetForm() {
			var username=document.forms["reset"]["username"].value;
			var password=document.forms["reset"]["password"].value;
			var confirmPass=document.forms["reset"]["confirmPass"].value;
			
			if (!Boolean(username)){
			alert("username can not be blank");
			return false;
			} 
			else if (!Boolean(password)){
			alert("Password can not be blank");
			return false;
			}
			else if(confirmPass != password){
					alert("password doesn't match");
			return false;
			}
			
			}
	   function validateForm() {
			var username=document.forms["input"]["username"].value;
			var password=document.forms["input"]["password"].value;
			var name=document.forms["input"]["name"].value;
			var confirmPass=document.forms["input"]["confirmPass"].value;
			var msisdn=document.forms["input"]["msisdn"].value;
			
			if (!Boolean(username)){
			alert("username can not be blank");
			return false;
			} 
			else if (!Boolean(password)){
			alert("Password can not be blank");
			return false;
			}
			else if (!Boolean(name)){
			alert("Name can not be blank");
			return false;
			}
			else if (!Boolean(msisdn)){
			alert("Mobile number can not be blank");
			return false;
			}
			else if(confirmPass != password){
					alert("password doesn't match");
			return false;
			}
			
			}
    
</script>    
  	  <script type="text/javascript">
var login_params=
{
	showTermsLink: 'false'
	,height: 120
	,width: 200
	,containerID: 'componentDiv'
	,autoDetectUserProviders: ''
	,facepilePosition: 'none'
	,deviceType: 'auto'
	,UIConfig: '<config><body><controls><snbuttons buttonsize="45" /></controls></body></config>'
	,redirectURL: 'http://op101-ex-test.apigee.net/openid/socialLogin?sessionid=<%= sessionid%>'
	
	
}
</script>

<script type="text/javascript">
   gigya.socialize.showLoginUI(login_params);
</script>


</div> <!-- container -->
 
 
<script type="text/javascript" src="/openid/bootstrap/js/bootstrap.js"></script>
 
