<% layout('layout') %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>My Profile</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="label label-default">Username:</span>
                <span><%= username %></span>
              </li>
              <li class="list-group-item">
                <span class="label label-default">First Name:</span>
                <span><%= first_name%></span>
              </li>
              <li class="list-group-item">
                <span class="label label-default">Last Name:</span>
                <span><%= surname %></span>
              </li>
              <li class="list-group-item">
                <span class="label label-default">Email:</span>
                <span><%= email%></span>
              </li>
              <li class="list-group-item">
                <span class="label label-default">Phone No:</span>
                <span><%= msisdn %></span>
              </li>
              <li class="list-group-item">
                <span class="label label-default">Address:</span>
                <address>
                  <strong>House:</strong>
                  <span><%= house %></span>
                  <br>
                  <strong>Street:</strong>
                  <span><%= street %></span>
                  <br>
                  <strong>City:</strong>
                  <span><%= city%></span>
                  <br>
                  <strong>State:</strong>
                  <span><%= state%></span>
                  <br>
                  <strong>Country:</strong>
                  <span><%= country %></span>
                  <br>
                </address>
              </li>
            </ul>
            <div class="edit-profile-button">
              <a href="/openid/edit-profile?sessionid=<%=sessionid%>" class="btn btn-default grass-btn">Edit Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>