<% layout('layout') -%> 
<div id="content">
    <ul id="tabs" class="nav nav-tabs nav-custom" data-tabs="tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#applications" data-toggle="tab">Applications</a></li>
    </ul>
    
    
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="profile">
        <form  name="input" class="form-signin" action="/users/update?sessionid=<%= sessionid%>" method="post">
Username:  <input type="text" name="username" value="<%= username%>"><br>
First Name: <input type="text" name="name" value="<%= name%>"><br>
Last Name: <input type="text" name="lastName" value="<%= surname%>"><br>
Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" value="<%= email%>"><br>
Phone No: &nbsp; <input type="text" name="msisdn" value="<%= msisdn%>"><br>
<b>Address</b><br>
Street 1:&nbsp;&nbsp;&nbsp; <input type="text" name="addr1" value="<%= addr1%>"><br>
Street 2:&nbsp;&nbsp;&nbsp; <input type="text" name="addr2" value="<%= addr2%>"><br>
City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city" value="<%= city%>"><br>
State:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="state" value="<%= state%>"><br>
Country:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="country" value="<%= country%>"><br>



         <fieldset class="ui-grid-a">
				<div class="ui-block-a"><button class="btn btn-medium btn-primary" type="submit" onclick="return validateForm();return false;">Update Info</button></div>
				<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='/users/logout'" >Log out</button></div>
				
		    </fieldset><br>
      </form>
  	  </div>
  	  
  	  
  	  
  	  
  	  
  	  

<div class="tab-pane" id="applications">
<p>List of applications that you have consented</p>
<br/>

<h5>Spot Demo</h5>
<li style=" margin-left: 12px; ">profile access</li>

<table style=" margin-left: 40px;">
<tr><td><button class="btn btn-medium btn-primary" type="button" onclick="window.location='/users/error'">View</button></td><td><button class="btn btn-medium btn-primary" type="button" onclick="window.location='/users/error'">Revoke</button></td></tr>
</table>
<br/><br/><br/>
<div class="ui-block-b"><button class="btn btn-medium btn-error" type="button" onclick="window.location='/users/logout'" >Log out</button></div>

 </div>


    </div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
    
      
	   function validateForm() {
			var name=document.forms["input"]["name"].value;
			var msisdn=document.forms["input"]["msisdn"].value;
			var email=document.forms["input"]["email"].value;
			
	
			else if (!Boolean(email)){
			alert("Email can not be blank");
			return false;
			}
			else if (!Boolean(name)){
			alert("Name can not be blank");
			return false;
			}
			else if (!Boolean(msisdn)){
			alert("Mobile number can not be blank");
			return false;
			}
		
			
			}
    
</script>    
</div> <!-- container -->
 
 
<script type="text/javascript" src="/openid/bootstrap/js/bootstrap.js"></script>
 
