<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="grass-form-wrapper">
      <form role="form">
        <div class="form-group">
          <label>Username:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>First Name:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>Last Name:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>Email:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>Phone No:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="address-label"><strong>Address:</strong></div>
        <div class="form-group">
          <label>Street 1:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>Street 2</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>City:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>State:</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="form-group">
          <label>Country</label>
          {{input type="text" class="form-control" placeholder=""}}
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary grass-btn">Update Info</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <button type="button" class="btn btn-primary grass-btn">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>