<!-- Registration Page Template -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="grass-form-wrapper">
      <h4 class="register-form-title">Fill in your details and Register</h4>
      <form role="form" {{action "registerUser" on="submit"}}>
        <div class="form-group">
          {{input type="text" class="form-control" valueBinding="firstName" placeholder="First Name" required="required"}}
        </div>
        <div class="form-group">
          {{input type="text" class="form-control" valueBinding="lastName" placeholder="Last Name"}}
        </div>
        <div class="form-group">
          {{input type="email" class="form-control" valueBinding="email" placeholder="Email Id"}}
        </div>
        <div class="form-group">
          {{input type="tel" class="form-control" valueBinding="phonenumber" placeholder="Phone Number"}}
        </div>
        <div class="form-group">
          {{input type="password" class="form-control" valueBinding="password" placeholder="Password"}}
        </div>
        <div class="form-group">
          {{input type="password" class="form-control" valueBinding="confirmPassword" placeholder="Confirm password"}}
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary grass-btn">Register</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <button type="button" class="btn btn-primary grass-btn" {{action "cancelRegistration"}}>Cancel</button>
            </div>
          </div>
        </div>          
      </form>
    </div>
  </div>
</div>