<!-- Reset Password page template -->
<div class='row'>
  <div class="login-page-wrapper col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="grass-form-wrapper">
      <form role="form" {{action "resetPassword" on="submit"}}>
        <h4 class="register-form-title">Reset your password</h4>
        <div class="form-group">
          {{input type="text" class="form-control" valueBinding="phonenumber" placeholder="Your registered phonenumber"}}
        </div>
        <div class="form-group">
          {{input type="password" class="form-control" valueBinding="password" placeholder="New password"}}
        </div>
        <div class="form-group">
          {{input type="password" class="form-control" valueBinding="confirmPassword" placeholder="Confirm new password"}}
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <button type="submit" class="btn btn-primary grass-btn">Reset Password</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <button type="button" class="btn btn-primary grass-btn" {{action "cancelReset"}}>Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>